/Assets/**
!/Assets/**/*.cs
!/Assets/**/*.cs.meta
# 确保Git可以进入必要的目录
!/Assets/**/

Build/
Temp/
Library/
obj/
Logs/
UserSettings/
UnityPackageManager/
.vs/
.vscode/

*.pidb.meta
*.pidb
*.mdb.meta
*.mdb
*.opendb
*.pdb
.DS_Store
*.suo
*.user
*.userprefs
*.unityproj
*.sln
*.tmp
*.tmp.meta
*.bak
*.bak.meta
*.swp
*~.lock
*.svd
*.userstate

# 保留项目全局配置
!ProjectSettings/
!Packages/